<footer class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse justify-content-between">
        <div class="ml-5">
            <img src="/logoIPT.png" alt="logoIPT">
        </div>
        <div>
            <p class="text-light mr-5">
                <i class="fa fa-location-arrow"> </i> Quinta do Contador, Estrada da Serra, 2300 Tomar, Portugal
                <br>
                <i class="fa fa-phone"> </i> (+351) 249 328 100
                <br>
                <i class="fa fa-envelope-o"> </i> helpdesk@ipt.pt</p>
        </div>
    </div>
</footer>