<!-- utilizador nao autenticado
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Schedules</a>
        </nav> -->


    <!-- utilizador autenticado -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Schedules</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- RESERVAS -->
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkReservas" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reservas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkReservas">
                        <a class="dropdown-item" href="/reservations">Listar</a>
                        <a class="dropdown-item" href="/reservations/new">Nova</a>
                        <%# <a class="dropdown-item" href="#">Pendentes</a>  %>
                    </div>
                </li>
                <!-- apenas visivel para role funcionario -->
                <!-- UTILIZADORES -->
                <li class="nav-item active">
                    <a class="nav-link" href="#">Utilizadores</a>
                </li>
                <!-- SALAS -->
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSalas" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Salas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSalas">
                        <a class="dropdown-item" href="/spaces">Listar</a>
                        <a class="dropdown-item" href="/spaces/new">Nova</a>
                    </div>
                </li>
            </ul>

            <!-- MODAL -->
            <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#exampleModal">
                Pesquisar docente
            </button>
            <div class="modal fade" id="exampleModal" tabIndex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Pesquisar docente</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <input id="searchDocente" class="form-control mr-sm-2" type="search"
                                    placeholder="nome do docente" aria-label="Search"></input>
                                <br>
                                <div class="form-row text-center">
                                    <div class="col-md-3 mt-md-0 mt-3">
                                        <label class="form-control text-center" for="inputInicio">De</label>
                                    </div>
                                    <div class="col-md-9 mt-md-0 mt-3">
                                        <input class="form-control" type="datetime-local" id="inputInicio" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3 mt-md-0 mt-3">
                                        <label class="form-control text-center">até</label>
                                    </div>
                                    <div class="col-md-9 mt-md-0 mt-3">
                                        <input class="form-control" type="datetime-local" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success" type="search">Pesquisar</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LOGOUT -->
            <div>
                <span class="navbar-text align-middle">
                    Bem-vindo utilizador
                    <!-- nome-->
                </span>
                <button class="btn btn-secondary" type="button">Terminar Sessão</button>
            </div>
        </div>
    </nav>